    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    html {
        font-size: 8px;
    }
    
    body {
        font-family: 'Kalam', cursive;
        color: white;
        font-size: 1.6rem;
        line-height: 1.5;
        text-align: center;
        background-color: #333;
    }
    
    a {
        text-decoration: none;
    }
    
    p {
        padding: 1.6rem 0;
    }
    
    img {
        width: 100%;
        height: auto;
    }
    
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }
    /*HEADER*/
    
    header {
        height: 45rem;
    }
    
    header .bg-image {
        position: absolute;
        background-image: url(img/bg.jpeg);
        background-size: cover;
        background-position: center;
        height: 45rem;
        width: 100%;
        opacity: 0.4;
        z-index: -1;
    }
    
    header h1 {
        padding: 11rem;
        padding-bottom: 0;
    }
    
    .btn {
        display: inline-block;
        background: #333;
        color: #fff;
        border: 1px solid #666;
        padding: 1.6rem 3.2rem;
        margin: .5rem 0;
        transition: all 0.4s;
    }
    
    .btn:hover {
        background-color: #fff;
        color: #333;
    }
    /*SECTİON-A*/
    
    #section-a {
        background-color: #eaeaea;
        color: #333;
        padding: 3.2rem 0;
    }
    /*SECTİON-B*/
    
    #section-b {
        padding: 2rem;
    }
    
    #section-b ul {
        list-style: none;
    }
    
    #section-b ul li {
        background-color: #fff;
        color: #333;
        margin-bottom: 1.5rem;
        transition: background-color 0, 3s;
    }
    
    #section-b ul li:hover {
        background-color: rgb(221, 220, 220);
    }
    
    .col-content {
        padding: 1rem;
    }
    /*SECTİON-C*/
    
    #section-c {
        background-color: #eaeaea;
        color: #333;
        padding: 5rem;
    }
    /*SECTİON-D*/
    
    #section-d .box:first-child {
        background-color: rgb(2, 204, 204);
    }
    
    #section-d .box {
        padding: 5rem;
    }
    /*FOOTER*/
    
    footer {
        background-color: black;
        padding: 5rem;
    }
    
    footer a {
        color: blue;
    }
    
    .name {
        transition: all 0.3;
    }
    
    .name:hover {
        color: red;
    }
    
    .icons a {
        color: #fff;
        padding: .6rem;
        font-size: 1.9rem;
        transition: all 0.3s;
    }
    
    .icons :hover {
        color: blue;
        font-size: 1.8rem;
    }
    /*---------------------------------------------*/
    
    @media screen and (min-width:800px) {
        html {
            font-size: 9px;
        }
    }
    
    @media screen and (min-width:1200px) {
        #section-b li {
            width: 28%;
            margin: 1%;
            display: inline-block;
        }
        .box {
            width: 50%;
            float: left;
        }
        html {
            font-size: 12px;
        }
    }