* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
}

h2 {
    margin-bottom: 10px;
}

#container {
    width: 1140px;
    margin: 20px auto;
}

#blog-post-container {
    width: 75%;
    display: inline;
    float: left;
    padding: 10px;
}

#other-posts {
    width: 25%;
    float: right;
    padding-left: 10px;
    margin-top: 10px;
}

#innorder-other-post {
    position: fixed;
}

.tags li {
    display: inline;
    list-style: none;
    margin: 5px;
}

.tags li a {
    text-decoration: none;
}

.date {
    position: absolute;
    top: 20px;
    right: 50px;
}

.blog-post {
    position: relative;
}

.blog-post img {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.box {
    background: white;
    margin-bottom: 15px;
    padding: 20px;
}

#author-box {
    border-top: 2px solid #8E9293;
}

#author-box img {
    width: 100px;
    height: 160px;
    padding-top: 10px;
    border-radius: 50%;
    float: left;
}

.author-text {
    float: left;
    margin-top: 60px;
    margin-left: 20px;
}