#container {
    width: 1140px;
    display: inline-block;
}

#blog-post-container {
    width: 75%;
    display: inline;
    float: left;
}

#other-posts {
    width: 25%;
    display: inline;
    float: right;
    position: fixed;
    top: 20px;
    right: 0;
}

img {
    width: 200px;
}

.tags li {
    display: inline;
    list-style: none;
    margin: 5px;
}

.tags {
    margin: 0;
    padding: 0;
}

.tags li a {
    text-decoration: none;
}

.date {
    position: absolute;
    top: 0;
    right: 50px;
}

.blog-post {
    position: relative;
}